{% extends 'bookings/base.html' %}

{% block content %}
<div class="container overlay text-center">
    <h1>Booking List</h1>
    <ul>
        {% for booking in bookings %}
            <li>
                {{ booking.date }} {{ booking.time }}
                {% if booking.user == request.user %}
                    <a href="{% url 'cancel_booking' booking.id %} " class="btn btn-danger">Cancel</a>
                {% endif %}
            </li>
        {% empty %}
            <p>No bookings have been made.</p>
        {% endfor %}
    </ul>
    {% if booking_success %}
    <div class="alert alert-success">
        Booking successful!
    </div>
    {% endif %}
    
    {% if booking_error %}
    <div class="alert alert-danger">
        {{ booking_error }}
    </div>
    {% endif %}
    
    <form method="POST" action="{% url 'create_booking' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="{{ form.time.id_for_label }}">Time:</label>
            {{ form.time }}
        </div>
        <button type="submit" class="btn btn-primary">Book a Table</button>
    </form>
    
</div>

<script>
    var fullyBookedSlots = [
    {% for booking in fully_booked_slots %}
        "{{ booking.time }}",
    {% endfor %}
];

    var timeSelect = document.querySelector('select[name="time"]');
    for (var i = 0; i < timeSelect.options.length; i++) {
        var option = timeSelect.options[i];
        if (fullyBookedSlots.includes(option.value)) {
            option.disabled = true;
        }
    }
</script>
{% endblock %}