{% extends 'bookings/base.html' %}

{% block title %}Welcome to the Exclusive Restaurant{% endblock %}

{% block content %}
<div class="container mt-5 ">
    <div class="row ">
        <div class="col-md-6 offset-md-3 overlay">
            <h1 class="text-center">Welcome to the Exclusive Restaurant</h1>
            <p class="text-center">
                To make a booking, please <a href="{% url 'account_login' %}" class="btn btn-secondary">Log In</a> or <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign Up</a>.
            </p>
            <p class="text-center">
                You can also go directly to our <a href="{% url 'booking_list' %}" class="btn btn-secondary">Booking Page</a>.
            </p>
            <p>
                As we are an exclusive restaurant we only allow 4 bookings per hour so be sure to get yours in quick!
            </p>
        </div>
    </div>
</div>
{% endblock %}